
.cart.table-wrapper {

  .product-item-photo,
  .product-item-details {
    display: table-cell;
    vertical-align: top;
  }

  .product-item-photo {
    margin-right: $global-margin;
  }

  .product-item-details {
    margin-top: $global-margin / 2;
    padding-top: $global-padding;

    .product-item-name {
      font-size: $global-font-size * 1.25;
      display: block;

      + .item-options {
        margin-top: $global-margin / 4;
      }
    }

    .item-options {

      dt,
      dd {
        float: left;
      }

      dt {
        clear: left;
        margin-bottom: 0;

        &::after {
          content: ':';
          margin-right: $global-margin / 2;
          padding-left: $global-padding / 10;
        }
      }
    }
  }

  .col.price,
  .col.subtotal {

    > span {
      font-size: $global-font-size * 1.25;
    }
  }

  .qty {

    label {
      display: none;
    }
  }

  th {
    
    &.col.qty {
      width: 15%;
    }
  }
}
