
// Mobile Navigation slide
.nav-before-open {
  
  .page-wrapper {
    transition: left 300ms ease;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
  }

  &.nav-open {

    .page-wrapper {
      position: relative;
      left: 80%;
      left: calc(100% - 3rem);
    }
  }
}

.nav-sections {
  
  @include breakpoint(small only) {
    transition: left 0.3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
  }

  .nav-open & {

    @include breakpoint(small only) {
      box-shadow: 0 0 5px 0 rgba($black, 0.75);
      left: 0;
      z-index: 99;
      background-color: $white;
    }
  }
}
