//Default form styling
[type=text],
[type=text]:focus,
[type=password],
[type=password]:focus,
[type=date],
[type=date]:focus,
[type=datetime],
[type=datetime]:focus,
[type=datetime-local],
[type=datetime-local]:focus,
[type=month],
[type=month]:focus,
[type=week],
[type=week]:focus,
[type=email],
[type=email]:focus,
[type=number],
[type=number]:focus,
[type=search],
[type=search]:focus,
[type=tel],
[type=tel]:focus,
[type=time],
[type=time]:focus,
[type=url],
[type=url]:focus,
[type=color],
[type=color]:focus,
input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  background-color: $grey-light;
  border: 1px solid darken($grey-light, 5%);
  border-radius: $global-radius;
  color: $grey;
  line-height: $global-padding;
}

// This will remove the lovely dropdown arrows added by default and use the foundation option.
.select,
select {
  // background-image: none;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  appearance: none;
}

select {

  &:disabled {
    background-color: scale-color($secondary-color, $alpha: -85%);
  }
}

[type=checkbox],
[type=radio],
.field [type=checkbox],
.field [type=radio] {

  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

fieldset,
.fieldset {
  background-color: $white;
  border: 0;

  legend {
    margin: 0;
    margin-left: $global-margin * -0.1875;
    padding: ($global-padding / 2) ($global-padding * 0.1875) 0;
    background: transparent;
    height: 0;
    margin-bottom: $global-margin / 2;

    > span {
      display: block;
      margin-top: $global-margin;
    }
  }
}

label {

  &.label {
    color: darken($grey, 10%);
    font-weight: bold;
    background-color: transparent;
    padding-left: 0;
  }
}

// Required asterisk on forms.
.required,
._required {

  > .label {

    span {

      &::after {
        content: '*';
        color: $secondary-color;
        margin-left: $global-margin / 6;
      }
    }
  }
}

// Form hints.
.hint,
.note {
  font-size: $global-font-size * 0.8;
  margin-bottom: $global-margin;
}

// Errors and warnings.
.mage-error,
.error {
  background-color: scale-color(map-get($foundation-palette, alert), $alpha: -40%);
  color: $white;
}

input.error,
select.error {
  border: 3px solid scale-color(map-get($foundation-palette, alert), $alpha: 0%);
  margin-bottom: 0;
}

.field-error {
  background: scale-color(map-get($foundation-palette, alert), $alpha: 0%);
  color: $white;
  display: block;
  font-size: rem-calc(12);
  padding: $global-padding / 4;
}

// Default password reset form.
.form.password.reset {
  @include component-margin-bottom;
}
