
.product.details.product-item-details {

  .price-final_price {
    font-weight: bold;
  }

  .product-reviews-summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .rating-summary {
      margin-right: $global-margin / 2;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    .actions-primary {
      margin-right: $global-margin / 2;
    }

    @include breakpoint(small only) {
      display: none;
    }
  }
}
