//Product Grid
.grid.products-grid {
  @include grid-row;
  margin-bottom: $global-margin * 2;
  padding-bottom: $global-padding;
  background-color: $white;
  padding-left: $global-padding;
  padding-right: $global-padding;
  box-sizing: border-box;

  .product-items {
    list-style: none;
    margin-left: 0;

    li {
      @include grid-column(12);
      margin-bottom: $global-margin * 2;
      min-height: $global-padding * 25;

      @include breakpoint(medium) {
        @include grid-column(3);
        padding-left: $global-padding / 4 !important;
        padding-right: $global-padding / 4 !important;
      }

      &:last-child:not(:first-child) {
        float: left;
      }
    }

    .product-item-photo {
      display: block;
    }
  }
}
