.swatch-attribute-options {
  display: flex;
  flex-direction: row;
  margin-top: $global-margin / 2;
  flex-wrap: wrap;

  > div,
  > a {

    &:not(:last-of-type) {
      padding-right: $global-padding / 2;
    }
  }

  .color {
    padding: ($global-padding / 10) ($global-padding / 5);
    min-width: rem-calc(30);
    max-width: rem-calc(90);
    height: rem-calc(20);
    float: left;
    margin: 0 ($global-margin / 2) ($global-margin / 4) 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid $grey-light;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
